<div class="p-3">
    <h2 class="sidebar-heading">管理</h2>
    <hr class="border-light"> </div>
<div class="list-group">
    <a href="/" class="sidebar-list-group-item">
        <i class="fas fa-wallet"></i> 导航页
    </a>    
    <a href="/incomes" class="sidebar-list-group-item">
        <i class="fas fa-wallet"></i> 收入管理
    </a>
    <a href="/expenses" class="sidebar-list-group-item">
        <i class="fas fa-shopping-cart"></i> 支出管理
    </a>
    <a href="/assets" class="sidebar-list-group-item">
        <i class="fas fa-building"></i> 资产盘点
    </a>
    <a href="/diary" class="sidebar-list-group-item">
        <i class="fas fa-book-open"></i> 日记管理
    </a>
    <a href="/booknote" class="sidebar-list-group-item">
        <i class="fas fa-book"></i> 读书笔记
    </a>
</div>