<div class="col-md-3">
    <h2 class="mb-4">管理</h2>
    <div class="list-group">
        <a href="/incomes" class="list-group-item list-group-item-action bg-primary text-white mb-2">收入管理</a>
        <a href="/expenses" class="list-group-item list-group-item-action bg-success text-white mb-2">支出管理</a>
         <a href="/assets" class="list-group-item list-group-item-action bg-secondary text-white mb-2">资产盘点</a>       
        <a href="/diary" class="list-group-item list-group-item-action bg-info text-white mb-2">日志管理</a>
    </div>
</div>